[user]
  name = Josh Sullivan
  email = josh@dipperstove.com

[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
  co = checkout
  me = log  --author='Josh' --format='%n%Creset%ad, %an:%n%Cgreen%s'
  s = status
  nb = !echo v$(( $(git branch -r |grep v| awk -F '/v' '{print $2}'|sort -n|tail -n1) + 1))
  ss = stash save 'basic config'
  sp = stash pop

[branch]
  autosetupmerge = true

[core]
  editor = vim
  excludesfile = ~/.gitignore
  pager = less -FRSX

[color]
  diff = auto
  status = auto
  branch = auto
  ui = true

[branch]
  autosetupmerge = true

[push]
  default = current

[github]
  user = jsullivan

[ghi]
 token = !security find-internet-password -a  -s github.com -l 'ghi token' -w

[credential]
 helper = osxkeychain
